body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
}

*{
  /* transition-duration: 500ms; */
}

aside.short .info-user {
  display: none;
}
aside.short .top-sider {
  display: none;
}
aside.short ul li a span {
  display: none;
}

aside.short ul li a:hover span {
  display: inline;
}

aside.short ul li a span {
  background-color: #00999B;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}

button {
  border: none;
  background: none;
}